<html>
<head>
  <meta charset="UTF-8">
  <title>Index view for cocktails</title>
</head>
<body>

  <div class="banner p-5 bg">

  </div>
  <div class="container" id="list-cocktails">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-around text-center">
          <div class="card p-5 ">
            <div class="card-description">
              <h2><%= link_to "#{cocktail.name}", cocktail_path(cocktail)%></h2>
            </div>

            <div>
              <%= cl_image_tag(cocktail.photo,width: 400, height: 300, crop: :fill) %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>

