<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Mister Cocktails", class: "navbar-brand" do %>
    <%= image_tag "https://www.pngarts.com/files/3/Cocktail-PNG-Transparent-Image.png" %>
  <% end %>
  <h1>Mr.Cocktails!</h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <div class="btn btn-success btn-lg">
        <%= link_to "New Cocktail", new_cocktail_path%>
        </div>
      </li>
    </ul>
  </div>
</div>
